@import "tailwindcss";

@theme inline {
    --color-primary: #2e9cdc;
    --color-background-light: #f6f7f8;
    --color-background-dark: #121b20;
    --font-display: var(--font-inter);
}

@layer base {
    body {
        background-color: var(--color-background-light);
    }
}

@media (prefers-color-scheme: dark) {
    @layer base {
        body {
            background-color: var(--color-background-dark);
        }
    }
}